<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Product Name" [(ngModel)]="product.productName"
                            name="productName" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Enter Product Description" [(ngModel)]="product.productDescription"
                            name="productDescription" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Discounted Price</mat-label>
                        <input matInput placeholder="Enter Product Discounted Price"
                            [(ngModel)]="product.productDiscountedPrice" name="productDiscountedPrice" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Actual Price</mat-label>
                        <input matInput placeholder="Enter Product Actual Price"
                            [(ngModel)]="product.productActualPrice" name="productActualPrice" required>
                    </mat-form-field>
                    <div align="end">
                        <button mat-stroked-button color="primary" style="margin-right: 3px;" (click)="reset(productForm)">Clear</button>
                        <button *ngIf="isNewProduct" mat-stroked-button color="primary" type="submit" [disabled]="productForm.form.invalid">Add Product</button>
                        <button *ngIf="!isNewProduct" mat-stroked-button color="primary" type="submit" [disabled]="productForm.form.invalid">Update Product</button>
                    </div>
                </form>


            </div>
            <div class="col-6">
                <div>
                    <div class="dropzone" 
                    appDrag
                    (files) = "fileDropped($event)"
                    >
                        <div class="textwrapper">
                            <div class="centered">
                                Drag and drop your file or 
                                <a (click)="selectFile.click()" class="browse-button">browse</a> a file
                            </div>
                        </div>
                    </div>
                    <input type="file" style="display: none;" multiple value="select" #selectFile (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i = index;">
                                <div style="position: relative;">
                                    <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>