.product-information {
    font-size: medium;

}

.image-container {
    height: 500px;
    position: relative;
}
.product-image{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.mat-grid-tile  {
    cursor: pointer;
}